.popover {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s ease-in-out, opacity 0.2s ease-in-out;

  &--visible {
    visibility: visible;
    opacity: 1;
  }
}
