.toast-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.toast-item {
  padding: 1rem;
  display: flex;
  flex-direction: row;

  &__action {
    cursor: pointer;
    padding: 0 1rem;
  }
}
