.select {
  &__label {
    cursor: pointer;
    border: 0;
    padding: 0.5rem 1rem;
    background: black;
    color: white;
    border-radius: 0.5rem;
  }

  &__dropdown {
    background: black;
    color: white;
    border-radius: 0.5rem;
  }
}

.option {
  padding: 0.5rem 0.7rem;
  cursor: pointer;
}
